# Basis instellingen
DirectoryIndex index.php
Options -Indexes

# Rewrite engine aanzetten
RewriteEngine On
RewriteBase /

# Allow direct access to files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Allow direct access to directories
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^admin/ - [L]

# Handle all routes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L] 