# ----------------------------------------------------------------------
# Tijdelijke Test - Sta alle toegang toe
# ----------------------------------------------------------------------
# Deze configuratie is alleen voor debuggen om te zien of de server
# de 'Require all granted' directive accepteert.
# ----------------------------------------------------------------------

Options -Indexes
Require all granted
